<div class="container">
  <div class="text-center title">READ ME</div>
  <div class="col-xs-12">
    <p>The application is based on the framework of Angular. <span class="high-light">Both front-end pages and back-end server</span>
      are developed, in order to keep data consistent, even if refresh or restart. It is fully functional in terms of CRUD (Add, Display,
      Update, Delete). To exchange data between two lists, users can complete that via either drag and drop the item individually, or click to select
      all items at one time, or select all items and then uncheck the not desired ones. All three ways are doable in the application.</p>
    <p>The main libraries and tech used for building this application are as follow:</p>

    <ol>
      <li>
        <p>From Angular library "Materal", the @angular/cdk/drag-drop module is used for achieving the Drag and Drop functionality
          to swap data between lists.</p>
      </li>

      <li>
        <p>Angular Lazy Loading is used in the two routes in the program to navigate url links.</p>
      </li>

      <li>
        <p>Angularfire2 and firebase are used as remote data server. It consistently fetches and saves data with front-end users' input.</p>
      </li>

      <li>
        <p>Bootstrap 4 is used to keep web pages responsive.</p>
      </li>
    </ol>
  </div>
</div>
